@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
} */

.currency-converter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(112, 8, 8);
    border-radius: 8px;
    padding: 40px 40px 15px;
    background-color:rgb(112, 8, 8) ;
    box-shadow: 0 8px 32px rgba(0, 0,0,0.5);
    
}

.converter-title {
    display: flex;
    justify-content: center;
    background-color: rgb(112, 8, 8);
    color: #fff;
    border: 2px solid rgb(248, 248, 248);
    border-radius: 8px;
    padding: 1rem;
    margin: 0 auto;
}

.converter-form {
    margin-top: 45px;
    
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-label {
    color: #fff;
    padding-bottom: 0.5rem;
}


.form-inputs {
    outline: none;
    min-height: 35px;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: rgb(134, 44, 44);
    margin-bottom: 1rem;
    color: #fff;
    padding: 0 15px;
}

.form-currency-group{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.currency-select{
    border: 1px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-height: 45px;
    margin-top: 0.5rem;
}
img{
    width: 25px;
}

.currency-dropdown{
    outline: none;
    border: none;
    background: none;
    color: #ffffff;
    font-weight: 500;
    padding: 0 10px 0 5px;

}

option{
    color: #000;
    font-weight: 500;
}

.swap-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid rgb(248, 248, 248);
    margin: 1.7rem 1rem 0rem 1rem;
}

.swap-icon:hover {
    background: #f3d0d0;
}

.submit-button {
    width: 100%;
    min-height: 36px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: rgb(112, 8, 8);
    font-weight: 600;
    cursor: pointer;
}

.submit-button.loading{
    opacity: 0.8;
    pointer-events: none;
}

.submit-button:hover {
    background: #f3d0d0;
}

.exchange-rate-result{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 6px;
    letter-spacing: 0.5px;
    background: rgb(134, 44, 44);
    color: #ffffff;
}