.List {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
}
.list-heading{
    display: flex;
    justify-content: center;
    background-color: rgb(112, 8, 8);
    color: #fff;
    padding: 1rem;
    
}

.expense-table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .expense-table th,
  .expense-table td {
    border: 1px solid rgb(112, 8, 8); 
    padding: 0.8rem; 
    text-align: center; 
    
  }
  
  .expense-table th {
    background-color: rgb(112, 8, 8); 
    font-weight: bold; 
    color: #fff;
  }
  .expense-table tr{
    width: 100%;
  }

  .list-btn{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
  }

  .edit-btn {
    color: #4CAF50; /* Green for edit */
    font-size: 16px;
    
  }
  .edit-btn:hover {
    color: #45a049;
    transform: scale(1.2); /* Slight zoom effect on hover */
  }
  

  .delete-btn{
    color: #fd2011; /* Red for delete */
    font-size: 16px;
  }
  
  .delete-btn:hover {
  color: #e53935;
  transform: scale(1.2); /* Slight zoom effect on hover */
}
  /* .expense-table tr:nth-child(even) {
    background-color: rgb(114, 8, 8);
    color: #fff;
  } */
  
  /* .expense-table tr:hover {
    background-color: #f1f1f1; 
  }
   */
