.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.amount {
    display: flex;
    justify-content: center;
}


.container{
    border: 5px solid rgb(112, 8, 8);
    height: 95%;
    width: 60%;
}