.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2rem; /* Increase font size of Total Expense */
    font-weight: bold; /* Make it bold for emphasis (optional) */
    margin-bottom: 1rem;
    color: rgb(112, 8, 8);
}

.addExpBtn{
    margin: 1rem;
    background-color:rgb(112, 8, 8) ;
    color: #fff;
    padding: 0.8rem ;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.addExpBtn:hover {
    background-color: rgb(160, 39, 39); /* Optional: Darker color on hover */
  }
.container{
    border: 5px solid rgb(112, 8, 8);
    height: 95%;
    width: 100%;
}

.split-screen{
    display: flex;
    flex-direction: row;
    margin: 0 auto;

}

.first-half{
   display: flex;
   align-items: center;
   flex-direction: column;
   align-content: space-around
}

.second-half{
    display: flex;
   align-items: center;
   flex-direction: column;
}

.split {
    display: flex;
    height: 80vh;
}

/* .split > div {
    overflow: auto;
} */

.split > .gutter {
    background-color: rgb(112, 8, 8);
    
}
