.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addExpBtn{
    margin: 1rem;
    background-color:rgb(112, 8, 8) ;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: #fff;
}
.container{
    border: 5px solid rgb(112, 8, 8);
    height: 95%;
    width: 60%;
}